body{
    background: linear-gradient(to right, #9c27b0,#8ecdff);
    height:300px ;
    width:100vh;
    position:overflow;
    overflow: hidden;
    font-family: "Lucida Console", Monaco, monospace ;

}
.wbs{
    text-align: center;
    border: 1px;


}

.first{
    border:1px ;
    text-align: center;
    border:1px solid black;
    padding: 10px;
    left:60px;
}
img{
    float: left;
    height: 200px;
}
.second{
    border:1px;
}
#wbs{
    float: left;
    padding-right: 8px;
}
p.side{
    font-family:"Lucida Console", Monaco, monospace ;

}   
p.dice{
    font-family:"Lucida Console", Monaco, monospace ;
    

} 
nav{
    text-align: inline;
    color:white;
    padding: 10px;
    margin-right: 0px;
    left:50px;

    
}
nav ul li{
    padding:10px;
    
    text-transform: uppercase;
    text-decoration:none;
    float:left;
    list-style: none;
}
nav>ul>li>a{
    padding:10px;

    text-transform: uppercase;
    text-decoration:none;
    
}
nav>ul>li>a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.1);
    color: rgba(red, green, blue, alpha)
}
.contacts{
    margin-top: 50px;
    padding: 15px;
}
h1{
    padding-top: 10px;
    left:10px;
}
.first{
    
}

