body{
    background: linear-gradient(to right, #9c27b0,#8ecdff);
    height:300px;
    width:100vh;
    position:overflow;
    overflow: hidden;

}
nav{
    text-align: inline;
    color:white;
    padding: 10px;
    margin-right: 0px;
    left:50px;
    
}
nav ul li{
    padding:20px;

    text-transform: uppercase;
    text-decoration:none;
    float:left;
    list-style: none;
}
nav>ul>li>a{
    padding:20px;

    text-transform: uppercase;
    text-decoration:none;
    
}
nav>ul>li>a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.1);
    color: rgba(red, green, blue, alpha)
}
.column{
    top:50px;
    left:35px;
    padding:40px;
    margin: 20px;
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-family: "Lucida Console", Monaco, monospace ;
    text-align: center;
    box-shadow: grey;
    border: 1px;
}
img{
    height:"20px"; 
    border-radius:"15px";
    float: left;
}

.footer{
    margin-bottom: 0;
    box-shadow: grey;
    
}
